@model atividade.Models.Produto;
@{
    <link  rel="stylesheet" href="~/css/CadastroProduto.css"/>
   ViewData["Title"] = "Registrar um produto";
}

    <h2 class="titulo">Registre o produto</h2>

    <form asp-action="Cadastro" method="post" >
      <div class="form">  
         <div class="div">
            <label>Nome:</label>
            <input asp-for="Nome" type="text" required />
         </div>

         <div class="div">
            <label>Descrição:</label>
            <input asp-for="Descricao" type="text" required />
         </div>
        
         <div class="div">
            <label>Preço: </label>
            <input  asp-for="Preco" type="number" required />
         </div>
         <div class="div">
            <button type="submit" class="btt">Cadastrar</button>
       </div>
    </div>
    </form>