@{
    ViewData["Title"] = "Novo Mundo Acadêmico";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo a loja Novo Mundo Acadêmico!</h1>
    <p> Onde visamos um mundo melhor.</p>
</div>
